.comment{
    background-color: cadetblue;
    /* margin-top: -132px; */
    background-color: #f1f2f3;
    padding-bottom: 100px;
}

.comment > h3{
    font-size: 30px;
    margin-left: 110px;
    /* text-align: center; */
}

.comment > form > textarea{
    width: 40%;
    margin-top: 40px;
    margin-left: 110px;
    font-size: 20px;
}

.comment > form > .button{
    left: 30px;
    width: 40px;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 43%;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.comment > .comment_row{
    margin-left: 110px;
    margin-top: 20px;
    width: 40%;
}

.comment > .comment_row > .comment_date{
    font-weight: lighter;
    border-top: solid 2px black;
    padding-left: 10px;
    color: rgb(73, 73, 73);
    font-size: small;
}

.comment > .comment_row > .comment_content{
    padding-left: 10px;
    font-size: 20px;
}